{% extends 'base.html' %}

{% block content %}
<div class="flex flex-row w-full h-full">
    {# Sidebar with Steps #}
    <div class="w-80 min-w-80 border-r border-base-300 overflow-y-auto p-6">
        <div class="mb-6">
            <div class="flex flex-row justify-between mb-2">
                <h1 class="text-2xl font-bold text-base-content">{{ project.name }}</h1>
                <nav class="project-navigation">
                    <a href="{% url 'projects:checklist:step_detail_default' project_id=project.id %}"
                    class="nav-link {% if request.resolver_match.url_name == 'step_detail_default' %}is-active{% endif %}">
                        Checklist
                    </a>
                </nav>
            </div>
            <p class="text-base-content/70 text-sm">{{ project.description|truncatechars:100 }}</p>
        </div>

        <div class="space-y-2" id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>

    </div>

    <div class="flex-1 overflow-y-auto p-8" id="content-block">
        {% block detail_block %}{% endblock %}
    </div>
</div>
{% endblock %}