{% extends 'base_two_columns.html' %}

{% block title %}Status Project: {{ project.name }} - Checklist Manager{% endblock %}

{% block sidebar %}
    {% if not step_id %}
        <div hx-get="{% url 'projects:checklist:list_steps' project_id=project_id %}"
            hx-trigger="load" 
            hx-swap="outerHTML">
            {% include "common/partials/loading-card.html" with text="Loading steps..." %}
        </div>
    {% else %}
        {% include "checklist/partials/step_cards.html" %}
    {% endif %}
    
{% endblock %}

{% block detail_block %}
    {% if step_id %}
        <div 
        hx-get="{% url 'projects:checklist:step_detail' project_id=project_id step_id=step_id %}"
        hx-trigger="load" 
        hx-target="#content-block"
        hx-swap="innerHTML"
        hx-push-url="true">
            {% include "common/partials/loading-card.html" with text="Loading Inventory Form..." %}
        </div>        
    {% else %}
        {% include "checklist/partials/checklist_empty.html" %}
    {% endif %}
{% endblock %}