<div class="step-item"  
    hx-get="{% url 'projects:step_tasks' project_id=project.id step_id=step.id %}"
    hx-target="#tasks-area-list"
    hx-swap="innerHTML">
<!-- <div class="step-item ${status} ${isActive ? 'active' : ''}" onclick="selectStep('${step.id}')"> -->
    <div class="step-header">
        <span class="step-title">{{step.to_str}}</span>
        {% include 'projects/partials/step-status-badge.html' with status=step.get_status id=step.id %}
    </div>
    <div class="step-progress">{{step.get_progress_text}}</div>
     
</div>