{% if oob %}
    <div class="badge badge-sm
        {% if status == 'Not Started' %}badge-error
        {% elif status == 'In Progress' %}badge-warning
        {% elif status == 'Completed' %}badge-success
        {% else %}badge-ghost{% endif %}"
        id="status-badge-{{ id }}"
        hx-swap-oob="true">
{% else %}
    <div class="badge badge-sm
        {% if status == 'Not Started' %}badge-error
        {% elif status == 'In Progress' %}badge-warning
        {% elif status == 'Completed' %}badge-success
        {% else %}badge-ghost{% endif %}"
        id="status-badge-{{ id }}">
{% endif %}
    {{ status }}
</div>