<fieldset class="fieldset">
    <input 
        type="file" 
        name="value"
        class="file-input file-input-bordered w-full"
        {% if readonly %}disabled{% endif %}
    />
    {% if field.file_value %}
        <label class="label">
            <span>Actual file: </span>
            <a href="{% url 'projects:inventory:download_inventory_file' project_id inventory_id group_id field.id %}" 
               target="_blank" 
               class="link link-primary">
                {{ field.text_value|default:"Télécharger" }}
            </a>
        </label>
    {% endif %}
</fieldset>