<div class="join w-full">
    <input 
        type="password" 
        id="field_{{ field.id }}"
        name="value"
        value="{{ field.text_value|default:'' }}"
        class="input input-bordered join-item flex-1"
        data-password-field="true"
        {% if readonly %}disabled{% endif %}
        {% comment %} hx-post="{% url 'projects:inventory:update_field' project.id inventory.id group.id field.id %}"
        hx-trigger="change"
        hx-target="closest .form-control"
        hx-swap="outerHTML" {% endcomment %}
    />
    <button type="button" 
            class="absolute right-3 top-1/2 -translate-y-1/2 text-base-content/50 hover:text-base-content transition-colors" 
            onclick="togglePassword(this)">
        <i data-lucide="eye" class="w-4 h-4"></i>
    </button>
</div>